:root {
    --bg: #fefefe;
    --fg: #444444;
    --link: #1168cc;
    --link_v: #0b0080;
    --link_h: #0066ee;
}

body {
    background: var(--bg);
    color: var(--fg);
    padding: 1em;
    margin: auto;
    max-width: 50%;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:visited {
    color: var(--link_v);
}

a:hover {
    color: var(--link_h);
}

blockquote > p {
    font-style: italic;
}

.date {
    font-size: small;
    margin: 0 0 1em 0;
}

nav {
    margin-bottom: 4em;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav > div.nav-right > ul > li > a {
    padding: 0.5em 0.5em;
}

nav > div.nav-left > ul > li > a {
    padding: 0.5em 0.5em;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

.nav-left ul li {
    float: left;
}

.nav-right ul li {
    float: right;
}