{{ define "main" }}
<h1>{{ .Title }}</h1>
<a href='{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}'>RSS</a>
<ul>
{{ range .Pages.ByPublishDate.Reverse }}
<li>
<a href="{{ .RelPermalink }}">{{ .Title }}</a>
<p class="date">Published {{ .PublishDate | time.Format ":date_long" }}.{{ if .Lastmod }} Updated {{ .Lastmod | time.Format ":date_long" }}.{{ end }}</p>
</li>
{{ end }}
</ul>
{{ end }}
