<head>
    <link rel="icon" href="/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
</head>
