<nav>
    <div class="nav-left">
        {{ range .Site.Menus.header_left }}
        <a class="nav-link" href="{{ .URL }}">
            {{ $text := print .Name | safeHTML }}
            {{ $text }}
        </a>
        {{ end }}
    </div>
    <div class="nav-right">
        <ul>
        {{ range .Site.Menus.header_right }}
        <li>
        <a class="nav-link" href="{{ .URL }}">
            {{ $text := print .Name | safeHTML }}
            {{ $text }}
        </a>
        </li>
        {{ end }}
        </ul>
    </div>
</nav>