<p class="date">Published {{ .PublishDate | time.Format ":date_long" }}.{{ if .Lastmod }} Updated {{ .Lastmod | time.Format ":date_long" }}.{{ end }}</p>
{{ range .Params.tags }}
{{ $href := print (absURL "tags/") (urlize .) }}
<a href="{{ $href }}">{{ . }}</a>
{{ end }}